@model IEnumerable<MVCapp.Models.Product>

@{
    ViewBag.Title = "Index";
}

<div class="h2">Kép feltöltése</div>
@using (Html.BeginForm("Index", "OCR", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Kép feltöltése:</label>
    <input type="file" name="file" id="file" /><br><br>
    <input type="submit" class="btn" value="Feltöltés" />
    <br><br>
    string alertType = ViewBag.Message == "Sikeres feltöltés" ? "success" : "warning";
    if (ViewBag.Message != null)
    {
        <div class="alert alert-@alertType alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@ViewBag.Message!</strong>
        </div>
    }
    if (alertType == "success")
    {
        foreach (var item in Model)
        {
            <div class="col-lg-6">
                <img class="wine-bottle-pic" src="@Url.Content("~/Content/Images/bottle.png")" alt="" />
                <p class="wine-name-text">@Html.DisplayFor(modelItem => item.Name)</p>
                <p>
                    Kategória: @Html.DisplayFor(modelItem => item.Category.Name)
                    <br />
                    Ár: @Html.DisplayFor(modelItem => item.Price) Ft
                    <br />
                    Mennyiség: @Html.DisplayFor(modelItem => item.Quantity) db
                </p>
                <p>
                    @Html.ActionLink("Kosárba", "AddToCart", "ShoppingCarts", new { id = item.ProductID }, null)
                </p>
            </div>
        }
    }
}

