
@using Jmelosegui.Mvc.GoogleMap
@model PagedList.IPagedList<MVCapp.Models.Product>
@using PagedList.Mvc;
@using MVCapp.Models;
@using System.Drawing;
@using Microsoft.AspNet.Identity
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<div class="h2">BorShop</div>
@{
    var message = TempData["Message"] ?? string.Empty;
}

<script type="text/javascript">
    var message = '@message';
    if (message)
        alert(message);
</script>
@if (User.Identity.Name == "admin@gmail.com")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


@{
    var curr = (RegionCoordinates)ViewData["CurrentRegion"];
}

@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <p>
        Kategória: @Html.DropDownList("categoryString", "All")
        Terméknév: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        Regió: @Html.DropDownList("regionString", "All")
        <input type="submit" class="btn" value="Szűrés" />
    </p>
}



<table class="table">
    <tr>
        <th>
            Rendezés:
        </th>
        <th>
            @Html.ActionLink("Terméknév Szerint", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Ár Szerint", "Index", new { sortOrder = ViewBag.PriceParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>
</table>

<div class="row">
    <div class="col-md-12">
        @(Html.GoogleMap()
          .Name("map")
          .Height(500)
          .Center(c => c.UseCurrentPosition())
          .Zoom(7)
          //.MarkersGeocoding(true)
          .Markers(m =>
          {
              m.Add()
                .Latitude(curr.Latitude)
                .Longitude(curr.Longitude)
                .Title(curr.RegionName);
              //.Icon("~/Content/Images/bor_icon.png", new Size(20, 32), new Point(0,0), new Point(10, 16));
          })
        )
    </div>
</div>
@foreach (var item in Model)
{
   if (true)
   {
        <div class="col-lg-4">
            <img class="wine-bottle-pic" src="@Url.Content("~/Content/Images/bottle.png")" alt="" />
            <p class="wine-name-text">@Html.DisplayFor(modelItem => item.Name)</p>
            <p>
                Kategória: @Html.DisplayFor(modelItem => item.Category.Name)
                <br/>
                Ár: @Html.DisplayFor(modelItem => item.Price) Ft
                <br />
                Mennyiség: @Html.DisplayFor(modelItem => item.Quantity) db
            </p>
            <p>
                <b>
                    @Html.ActionLink("Kosárba", "AddToCart", "ShoppingCarts", new { id = item.ProductID }, null) |
                    @if (User.Identity.Name == "admin@gmail.com")
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductID })
                        @Html.Raw(" | ");
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                    }
                </b>
            </p>
        </div>
    }
}



            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

            @section scripts
{
                @(Html.GoogleMap().ScriptRegistrar())
            }
